@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Global */

body {
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: #666;
  transition: color .25s ease;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

h1, h2, h4, h4, h5, h6 {
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.ascending {
  .table-caret-down { color: #1890ff; }
}

.descending {
  .table-caret-up { color: #1890ff;}
}

/* TopBar */

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

  .navigation {
    display: flex;
    align-items: center;

    li {
      list-style: none;

      &:not(:last-child) {
        margin-right: 25px;
      }

      .selected {
        color: #1890ff;
      }

    }

  }

}

/* Logo */

.logImg {
  max-width: 50px;
}

/* Table */

@mixin responsive-table {

  thead, tbody, tfoot, th, tr, td {
    display: block;
  }

  tbody {

    tr {

      &:nth-child(odd) > {
        td {
          background-color: #f5f8fd;
        }
      }

      td {
        background-color: #fff;
      }

    }

  }

  thead {
    display: none;
  }

  tr {

    td {
      position: relative;
      padding-left: 52%;

      &:before {
        position: absolute;
        top: 50%;
        left: 0.9375rem;
        width: 45%;
        content: attr(data-title);
        padding-right: 0.625rem;
        transform: translateY(-50%);
      }

      @media (max-width: 575px) {
        padding-left: 40%;

        &:before {
          width: 35%;
        }
      }

    }

  }
}

.table {

  table {
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;

    th {
      font-weight: 500;

      &.tableColumnHasSorters {
        cursor: pointer;
        transition: all .3s;

        &:hover {
          background-color: rgba(0,0,0,.04);
        }
      }
    }

    .tableCell {

      .tableColumnSorter {
        padding-left: 25px;
        color: #bfbfbf;
        font-size: 0;
        transition: color .3s;
      }

      .tableColumnSorters {
        display: flex;
        flex: auto;
        align-items: center;
        justify-content: space-between;

        .tableColumnTitle {
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: keep-all;
        }

        .tableColumnSorterInner {
          display: inline-flex;
          flex-direction: column;
          align-items: center;

          .caretUp,
          .caretDown {
            font-size: 11px;
            line-height: 1;
          }

        }

      }

    }

  }

  th,
  td {
    position: relative;
    padding: 16px 16px;
    overflow-wrap: break-word;
  }

  thead {

    > tr  {

      > th {
        position: relative;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        text-align: left;
        background-color: #fafafa;
        border-bottom: 1px solid #f0f0f0;
        transition: background 0.3s ease;
      }

    }

  }

  tbody {
    > tr {

       &:hover {

        > td {
          
          &:not([colspan]) {
            background-color: #fafafa;
          }
          
        }

       }

      > td {
        border-bottom: 1px solid #f0f0f0;
        transition: background 0.3s;
      }

    }
  }

  @media (max-width: 767px) {
    @include responsive-table;
  }

}

/* Comments */

.comments {
  margin: 0;
  padding: 0;

  .commentItem {
    list-style: none;

    &:not(:last-child) {
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;
    }

    .commentContentAuthor {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0;
      font-size: 20px;
      font-weight: 500;
      color: #555;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

  }

}